@import '../../styles/variables.scss';

.projects {
  color: $primary-white;
  background-color: $primary-black;
  padding: 30px 15px 30px;

  &Title {
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
  }

  &Description {
    font-size: 14px;
    text-align: center;
    color: #6f6d6d;
    margin: 0;
    margin-top: 15px;
  }

  &Slider {
    margin-top: 30px;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  &Counter {
    font-size: 14px;
    color: #6f6d6d;
    text-decoration: underline;
  }

  &Cards {
    position: relative;
  }

  &ToggleBtn {
    position: absolute;
    top: 105px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #000000b3;
    color: $primary-white;
    z-index: 1;

    &Right {
      right: 40px;
    }

    &Left {
      left: 40px;
    }
  }
}

.projectCardsContainer {
  display: flex;
  align-items: center;
  max-width: 380px;
  height: 312px;
  overflow: hidden;
}

.projectCardsList {
  width: fit-content;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &Item {
    flex-shrink: 0;
    margin-right: 20px;
  }
}

.projectCard {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  background-color: $primary-white;
  border-radius: 8px;
  color: $primary-black;
  padding: 35px 10px 10px;
  box-shadow: 4px 4px 10px 0px rgba(255, 255, 255, 0.75),
    -4px -4px 10px 0px rgba(255, 255, 255, 0.75);

  &Title {
    font-size: 18px;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }

  &Description {
    //try something with text-overflow
    // or add border-bottom
    max-height: 82px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    color: #6f6d6d;
    margin: 0;
    margin-top: 15px;
  }

  &Link {
    height: 35px;
    background-color: #1985e4;
    color: #fff;
    line-height: 35px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-top: auto;
  }
}
