@import '../../styles/variables.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-black;
  color: $primary-white;
  border-bottom: 1px solid $primary-white;
  opacity: 80%;
  padding: 0 15px;

  &Logo {
    border-radius: 8px;
  }

  &EditIcon {
    font-size: 18px;
  }
}
